# Load secrets
exec secrets.cfg

# Only change the IP if you're using a shared server
endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"

# --- DATABASE DRIVER ---
ensure oxmysql
ensure vrp_oxmysql

# --- CORE SYSTEM ---
ensure mapmanager
ensure chat
ensure spawnmanager
ensure sessionmanager
ensure basic-gamemode
ensure hardcap

# --- vRP FRAMEWORK ---
ensure vrp

# --- CUSTOM SCRIPTS ---
ensure [custom]

## You SHOULD edit the following:
sv_hostname "Omininola's Server!"
sets sv_projectName "[FiveM Basic Server] Omininola's Server"
sets sv_projectDesc "Recipe for the base resources required to run a minimal FiveM server."
sets tags "default, deployer"
sets locale "pt-BR"

## You CAN edit the following:
sv_enforceGameBuild 3258 #mp2024_01	- Bottom Dollar Bounties
sv_maxclients 2
set resources_useSystemChat true

## Add system admins
add_ace group.admin command allow # allow all commands
add_ace group.admin command.quit deny # but don't allow quit